.center_style
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h1, p {
    font-family: 'Arial';
    color: white;
}

body {
    background-image: url(img/shapka_info.jpg);
    background-position: center center;
    background-size: cover;
}
img
{
    filter: grayscale(0);
    transition: 0.5s;
    height: 300px;
    border-radius: 150px;
}

img:hover
{
    filter: grayscale(1);
}