img:hover
{
    filter: blur(0px);
    filter: grayscale(0);
}

img
{
    filter: grayscale(1);
    transition: 0.5s;
}

.center_style
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.center_style2
{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.discord_button
{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}