@import url('https://rsms.me/inter/inter.css');

html { 
    font-family: 'Inter', sans-serif; 
    background: rgb(12, 12, 12);
    color: white;
    box-shadow: 0 -75px 100px -120px rgb(255, 174, 103) inset;
    animation: background 5s infinite;
}

body {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

@keyframes background {
    50% {
      box-shadow: 0 -200px 100px -200px rgb(12, 12, 12) inset;
    }
}

