@import url('https://rsms.me/inter/inter.css');

html { 
    font-family: 'Inter', sans-serif; 
    background: rgb(12, 12, 12);
    color: #cecece;
    box-shadow: 0 -75px 100px -120px rgb(255, 150, 58) inset;
    animation: background 5s infinite;
}

body { 
    margin: 0; 
    padding: 0; 
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

@keyframes background {
    50% {
      box-shadow: 0 -200px 100px -200px rgb(12, 12, 12) inset;
    }
}

img {
    filter: grayscale(1);
    height: 32px; 
    transition: 0.5s;
    margin: 5px;
}

img:hover { 
    filter: grayscale(0);
    height: 40px;
    margin: 7px;
}

.donate {
    filter: grayscale(1);
    height: 32px;
    margin: 15px;
}

.donate:hover { filter: grayscale(0); }

.ds1 {
    cursor: pointer;
}

a { 
    color: #cecece;
    text-decoration: none;
    transition: 0.5s; 
}

a.cw:hover { 
    color: orange; 
    text-shadow: 0 0 2px;
}