@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

img.grey
{
    filter: grayscale(1);
    transition: 0.5s;
    height: 75px;
}

img.grey:hover { filter: grayscale(0); }

img.greyback
{
    filter: grayscale(0);
    transition: 0.5s;
    height: 225px;
    border-radius: 150px;
}

img.greyback:hover, img.donate:hover { filter: grayscale(1); }

img.donate
{
    filter: grayscale(0);
    transition: 1s;
}

@media (prefers-color-scheme: dark) {
    .theme {
        background-color: rgb(32, 32, 32);
        color: white;
    }
}

body { 
    background-color: white;
    color: black;
    margin: 0;
}

body.info
{
    background-image: url(img/shapka_info.jpg);
    background-position: center center;
    background-size: cover;
    margin: 0;
}

h1.info, p.info
{
    text-shadow: 0 0 2px;
    color: white;
}

button 
{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.center
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.column2 { margin-top: 60px; }
